@use "variables" as v;

header {
  background-image: url(/assets/images/mobile/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  nav {
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.5rem;

    .logo img {
      width: clamp(12.5rem, 30vw, 17rem);
    }

    .menu img {
      width: clamp(2.5rem, 5vw, 3.15rem);
    }

    ul {
      align-items: center;
      gap: 2.5rem;
      a {
        color: v.$wt;
        font-family: "Alata", sans-serif;
        font-size: clamp(1.1rem, 1.6vw, 1.7rem);
        transition: 0.3s ease-in-out;

        &:hover {
          color: hsla(0, 0%, 100%, 0.66);
        }
      }
    }
  }

  .hero {
    flex-grow: 1;
    align-items: center;
    padding: 3rem;
    h1 {
      padding: 2rem;
      color: v.$wt;
      text-transform: uppercase;
      font-size: clamp(3.2rem, 7.5vw, 7.7rem);
      font-family: "Josefin Sans", sans-serif;
      border: 1px solid v.$wt;
    }
  }
}

main {
  margin-top: 5rem;
  margin-bottom: 30rem;
  // ! remove later
}

.presentation {
  width: 95%;
  margin-inline: auto;
}

.presentation__content img {
  width: 100%;
}

.presentation__data {
  margin-top: 4rem;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
  h2 {
    font-size: 3.2rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    line-height: 3rem;
  }
  p {
    font-size: 1.5rem;
    font-family: "Alata", sans-serif;
    color: v.$dk-gy;
    line-height: 2.4rem;
  }
}
