@use "variables" as v;

header {
  background-image: url(/assets/images/mobile/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  nav {
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.5rem;

    .logo img {
      width: clamp(12.5rem, 30vw, 17rem);
    }

    .menu img {
      width: clamp(2.5rem, 5vw, 3.15rem);
    }

    ul {
      align-items: center;
      gap: 2.5rem;
      a {
        color: v.$wt;
        font-family: "Alata", sans-serif;
        font-size: clamp(1.1rem, 1.6vw, 1.7rem);
        transition: 0.3s ease-in-out;

        &:hover {
          color: hsla(0, 0%, 100%, 0.66);
        }
      }
    }
  }

  .hero {
    flex-grow: 1;
    align-items: center;
    padding: 3rem;
    h1 {
      padding: 2rem;
      color: v.$wt;
      text-transform: uppercase;
      font-size: clamp(3.2rem, 7.5vw, 7.7rem);
      font-family: "Josefin Sans", sans-serif;
      border: 1px solid v.$wt;
    }
  }
}

main {
  margin-block-start: 5rem;
}

.presentation__content img {
  width: 100%;
}

.presentation__data {
  margin-top: 4rem;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
  h2 {
    font-size: 3.2rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    line-height: 3rem;
  }
  p {
    font-size: 1.5rem;
    font-family: "Alata", sans-serif;
    color: v.$dk-gy;
    line-height: 2.4rem;
  }
}

.creations {
  margin-top: 10rem;

  &__heading {
    position: relative;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: clamp(3.5rem, 8vw, 5.7rem);
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
    }

    a {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 155rem;
      text-transform: uppercase;
      display: inline-block;
      color: v.$bk;
      border: 1px solid v.$bk;
      padding: 1rem 4rem;
      font-size: 1.5rem;
      font-family: "Alata", sans-serif;
      letter-spacing: 0.3rem;
    }
  }

  &__cards {
    gap: 3.5rem;
    margin-top: 6rem;

    &-card {
      width: 100%;
      height: 14.5rem;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;

      h3 {
        color: v.$wt;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: "Josefin Sans", sans-serif;
        margin-top: 2.75rem;
        margin-left: 2rem;
      }
    }
    .earth {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-deep-earth.jpg) top/cover no-repeat;
    }
    .arcade {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-night-arcade.jpg) top/cover no-repeat;
    }
    .soccer {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-soccer-team.jpg) top/cover no-repeat;
    }
    .race {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-grid.jpg) top/cover no-repeat;
    }
    .vr {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-from-above.jpg) top/cover no-repeat;
    }
    .borealis {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-pocket-borealis.jpg) top/cover no-repeat;
    }
    .curiosity {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-curiosity.jpg) top/cover no-repeat;
    }
    .fisheye {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/images/mobile/image-fisheye.jpg) top/cover no-repeat;
    }
  }
}

footer{
  flex-direction: column;
  background-color: v.$bk;
  padding-block: 4rem;
  padding-inline: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  .container--primary__logo img{
    width: 15rem;
  }
}
