@media only screen and (min-width: 840px) {
  header {
    background-image: url(/assets/images/desktop/image-hero.jpg);
  }
}

@media only screen and (min-width: 900px) {
  .hero {
    width: 68vw;
  }
}

@media only screen and (min-width: 960px) {
  .hidden--primary {
    display: block;
  }

  .hidden--secondary {
    display: none;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1270px) {
  nav {
    background-color: hsla(0, 0%, 0%, 0.1);
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    width: 55.5vw;
  }
}

@media only screen and (min-width: 1400px) {
  .hero {
    width: 52vw;
  }
}

@media only screen and (min-width: 1660px) {
  header {
    height: 85rem;
    nav {
      padding: 6rem 14rem;
    }
  }

  .hero {
    margin-left: 11rem;
  }
}

@media only screen and (min-width: 1800px) {
  .hero {
    width: 40.85vw;
  }
}
