*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}
a:focus-visible {
  outline: 3px dotted #f23ef2;
}

button:focus-visible {
  outline: 3px dotted #f23ef2;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden--primary {
  display: none;
}

header {
  background-image: url(/assets/images/mobile/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
}
header nav {
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2.5rem;
}
header nav .logo img {
  width: clamp(12.5rem, 30vw, 17rem);
}
header nav .menu img {
  width: clamp(2.5rem, 5vw, 3.15rem);
}
header nav ul {
  align-items: center;
  gap: 2.5rem;
}
header nav ul a {
  color: white;
  font-family: "Alata", sans-serif;
  font-size: clamp(1.1rem, 1.6vw, 1.7rem);
  transition: 0.3s ease-in-out;
}
header nav ul a:hover {
  color: rgba(255, 255, 255, 0.66);
}
header .hero {
  flex-grow: 1;
  align-items: center;
  padding: 3rem;
}
header .hero h1 {
  padding: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: clamp(3.2rem, 7.5vw, 7.7rem);
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid white;
}

main {
  margin-top: 5rem;
  margin-bottom: 30rem;
}

.presentation {
  width: 95%;
  margin: 0 auto;
}

.presentation__content img {
  width: 100%;
}

.presentation__data {
  margin-top: 4rem;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}
.presentation__data h2 {
  font-size: 3.2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  line-height: 3rem;
}
.presentation__data p {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
  line-height: 2.4rem;
}

@media only screen and (min-width: 500px) {
  .presentation__data h2 {
    font-size: clamp(3.5rem, 7.5vw, 5rem);
    line-height: clamp(3rem, 7.5vw, 5rem);
    padding-inline: 3rem;
  }
  .presentation__data p {
    font-size: clamp(1.6rem, 2.55vw, 4rem);
    line-height: clamp(2rem, 5vw, 5rem);
    padding-inline: 3rem;
  }
}
@media only screen and (min-width: 600px) {
  .presentation__data p {
    padding-inline: 6rem;
  }
}
@media only screen and (min-width: 800px) {
  header nav {
    padding: 6rem 2.5rem;
  }
}
@media only screen and (min-width: 832px) {
  .presentation__content {
    grid-template-columns: [first-c] 42% [second-c] 13% [third-c] 45% [forth-c] auto;
    grid-template-rows: [first-r] 1fr [second-r] 2fr [third-r] auto;
  }
  .presentation__content figure {
    grid-column: first-c/third-c;
    grid-row: first-r/third-r;
  }
  .presentation__content .presentation__data {
    grid-column: second-c/forth-c;
    grid-row: second-r/third-r;
    background-color: white;
    margin-top: 0;
    text-align: left;
    padding-top: 4rem;
    padding-left: 4rem;
  }
  .presentation__content .presentation__data h2 {
    font-size: 3.3rem;
    line-height: 3rem;
    padding-inline: 0;
  }
  .presentation__content .presentation__data p {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-inline: 0;
  }
}
@media only screen and (min-width: 840px) {
  header {
    background-image: url(/assets/images/desktop/image-hero.jpg);
  }
}
@media only screen and (min-width: 900px) {
  .hero {
    width: 68vw;
  }
}
@media only screen and (min-width: 924px) {
  .presentation__content .presentation__data {
    padding-top: 6rem;
    padding-left: 6rem;
  }
}
@media only screen and (min-width: 960px) {
  .hidden--primary {
    display: block;
  }

  .hidden--secondary {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .presentation__content .presentation__data h2 {
    font-size: 4.2rem;
    line-height: 4rem;
  }
  .presentation__content .presentation__data p {
    font-size: 1.7rem;
    line-height: 2.25rem;
  }
}
@media only screen and (min-width: 1100px) {
  .presentation__content .presentation__data {
    padding-top: 7.7rem;
    padding-left: 8rem;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1270px) {
  nav {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    width: 55.5vw;
  }
}
@media only screen and (min-width: 1300px) {
  .presentation__content .presentation__data h2 {
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .presentation__content .presentation__data p {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .hero {
    width: 52vw;
  }
}
@media only screen and (min-width: 1410px) {
  .presentation__content .presentation__data h2 {
    font-size: 5.5rem;
    line-height: 5rem;
  }
  .presentation__content .presentation__data p {
    font-size: 2.3rem;
    line-height: 3.6rem;
  }
}
@media only screen and (min-width: 1635px) {
  .presentation__content .presentation__data h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
  .presentation__content .presentation__data p {
    font-size: 2.5rem;
    line-height: 3.7rem;
  }
}
@media only screen and (min-width: 1660px) {
  header nav {
    padding: 6rem 14rem;
  }

  .hero {
    margin-left: 11rem;
  }
}
@media only screen and (min-width: 1760px) {
  .presentation__content .presentation__data h2 {
    font-size: 7rem;
    line-height: 7rem;
  }
  .presentation__content .presentation__data p {
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media only screen and (min-width: 1800px) {
  .hero {
    width: 40.85vw;
  }
}
@media only screen and (min-width: 1910px) {
  .presentation__content .presentation__data {
    padding-top: 12.1rem;
    padding-left: 12.1rem;
  }
  .presentation__content .presentation__data p {
    font-size: 3.2rem;
    line-height: 4.5rem;
  }
}